.disabled, .disabled:hover {
    background-color: rgba(101, 156, 66, 0.6196078431372549);
    border-color: rgba(101, 156, 66, 0.6196078431372549);
    color: white
}
h3{
    font-family: 'Russo One', sans-serif;
    color: #000000;
    font-size: 35px;
    line-height: 1.2;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;

}

p{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    line-height: 1.55;
    color: #000000;
}
.pos-alert{
    bottom: 0;
    right: 5%;
    z-index: 9999;
}